<p>course works!</p>
<div class="wrapper">
  <div class="description">
  <h1>{{course?.title}}</h1>
  <p>{{course?.description}}</p>
  </div>
  <div>
    <p><span>Authors:</span> {{course?.authors}}</p>
    <p><span>Duration:</span> {{course?.duration}}</p>
    <p><span>Created:</span> {{course?.creationDate}}</p>
    <div class="icons">
    <button value="show" type="button">Show course</button>
    <fa-icon [icon]="faEdit"></fa-icon>
    <fa-icon [icon]="faTrash"></fa-icon>
    </div>
  </div>

</div>
