<div class="wrapper">
  <div class="description">
    <a
      [routerLink]="['/courses/', course?.id]">
      View: {{ course?.title }}
    </a>
    <a
      [routerLink]="['/courses/edit/', course?.id]">
      Edit: {{ course?.title }}
    </a>
    <p>{{course?.description}}</p>
  </div>
  <div>
    <p><span>Authors:</span> {{course?.authors}}</p>
    <p><span>Duration:</span> {{course?.durationView}}</p>
    <p><span>Created:</span> {{course?.dateView}}</p>
    <div class="icons">

      <app-button>Show course</app-button>

      <div *ngIf="editable">
        <app-button>
          <fa-icon [icon]="faEdit"></fa-icon>
        </app-button>
        <app-button>
          <fa-icon [icon]="faTrash"></fa-icon>
        </app-button>
      </div>
      <app-button (click)="addNewItem(course?.title)">Add to list</app-button>
    </div>

  </div>

</div>
