<div class="card m-3">
  <h5 class="card-header">Course Form</h5>
  <div class="card-body">
    <form name="form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <label>Title</label>
          <input type="text" formControlName="title" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && title?.errors }"/>
          <div *ngIf="submitted || title?.touched || title?.dirty || title?.errors" class="invalid-feedback">
            <div *ngIf="title?.touched || title?.dirty || title?.errors?.['required']">Title is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Description</label>
          <textarea type="text" class="form-control" formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && description?.errors }"></textarea>
          <div *ngIf="submitted && description?.errors" class="invalid-feedback">
            <div *ngIf="description?.errors?.['required']">Description is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Author name</label>
          <input type="text" class="form-control" formControlName="authorName">
          <span
            *ngIf="authorName?.errors?.['forbiddenName'] && (authorName?.dirty || authorName?.touched)">Name {{ authorName?.value }}
            is bad</span>

        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Duration</label>
          <input type="number"
                 class="form-control"  [ngClass]="{ 'is-invalid': submitted && duration?.errors }" formControlName="duration" min="1" max="10000">
          <span>Duration: {{duration?.value | durationConvert}}</span>
          <div *ngIf="submitted && title?.errors" class="invalid-feedback">
            <div *ngIf="title?.errors?.['required']">Duration is required</div>
          </div>
          <div *ngIf="duration?.errors?.['min']">Duration should be more that 0</div>
          <div *ngIf="duration?.errors?.['max']">Duration should be not more that 10000</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Creation date</label>
          <input type="date"
                 class="form-control" formControlName="createDate" required>
          <span>Create Date: {{createDate?.value | dateConvert}}</span>
          <div *ngIf="createDate?.errors?.['required']">Create date is required</div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Create course</button>
      </div>
    </form>
  </div>
</div>

